body
{
background-color: black;
text-align: center;
}

h1
{
color:rgb(126, 126, 35);
font-family: verdana;
font-size: 2em
}

div
{
border: 2px solid rgb(89, 70, 36);
border-radius: 26px;
width: 50%;
margin-left: 25%;
margin-right: 35%;
padding: 3%;
}

button
{
background-color:rgb(113, 93, 55);
text-align: center;
width: 300px;
padding: 15px 32px;
border-radius: 26px;
margin-top: 3px;
border: 2px solid black;
}

button:hover
{
color: orange;
background-color: rgb(74, 74, 49);
border:2px solid black;


}
