div#menu ul {
	padding: 0;
	width: 100px;
	border: 1px solid;
	margin: 0px;

}

div#menu ul li {
	position: relative;
	list-style: none;  /*on enleve les icones de listes*/
	border-bottom: 1 px solid; /* ajout d'une bordure*/

}

div#menu ul ul {
	position: absolute;
	top: 0;
	left: 100px; /* 100px correspond au décalage a droite*/

}
div#menu li a {
	text-decoration: none; /* plus de soulignement pour les liens*/

}

/*Puis on cache tout les sous menu avec la propriété display: none*/
div#menu ul ul {
 	position: absolute;
 	top: 0;
 	left: 100px;
 	display: none;

 }

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3 {display:block;}

div#menu a {color:000000;}

div#menu li:hover {background:rgb(187, 238, 190);}

/*on rajoute une bordure a gauche et des paddings*/
div#menu li a {
	text-decoration: none;
	padding: 4px 0 4px 8px;
	display: block; border-left:8px solid rgba(187, 187, 187, 0.489); width: 84px
} 

/*la bordure de chaque hauteur à une couleur de survol*/

div#menu li a:hover {border-left-color: red;}
div#menu ul ul li a:hover {border-left-color: #4400ff;}
div#menu ul ul ul li a:hover {border-left-color: #ff0037;}