body 
{
	background-color: black;
	text-align: center;
}

h1
{
	color: hotpink;
	font-family: verdana;
	font-size:2em;
}

div
{
	border: 2px solid green;
	border-radius: 26px;
	width: 50%;
	margin-right:35%; 
	margin-left:25%;
	padding: 3%;
}
button
{
	background-color: darkgreen;
	text-align: center;
	width: 300px;
	padding: 15px 32px;
	border-radius: 26px;
	margin-top: 3px;
	border: 2px solid white;

}

button:hover
{
	color: darkgreen;
	background-color: black;
	border:2px solid green;
}